.searchbar {
  align-self: flex-start;
  display: flex;
  gap: 16px;
  position: relative;
  top: var(--font-size-m);
  justify-content: center;
  flex-wrap: wrap;
  :global(.search-input) {
    & + div {
      display: none;
    }
  }
  :global(.sort-select) {
    position: relative;
    top: -12px;
    right: 0;
    padding-bottom: 12px;
  }

  }
   
   .searchbar:not(:first-child) {
  flex-wrap: nowrap;
}
.searchform {
  position: relative;
   @media only screen and (max-width: 560px) {
   flex-grow: 1;
width: 100%;
  }
}
.searchClear {
  position: absolute;
  right: 2px;
  top: 10%;
  fill:var(--gray1-color);
   &:hover {
    cursor: pointer;
    fill: var(--primary-color);
  }
}

.genre {
  margin-bottom: 12px;
    @media only screen and (max-width: 360px) {
   flex: 0 0 40%;
  }
}
