.input {
  padding: 8px;
  border-radius: var(--border-radius-standart);
  border: none;
}

.fullfield{
  width: 100%;
}

.error{
  font: var(--font-error);
  color: var(--error-color);
  min-height: 2.3rem;

}

.inputError{
  border:1px solid var(--error-color);

  &:focus-visible{
    outline-color: var(--error-color);
  }
}