:root {
  --font-family-main: Consolas, 'Times new roman', serif;
  --font-size-10: 10px;
  --font-line-10: 14px;
  --font-10: var(--font-size-10) / var(--font-line-10) var(--font-family-main);
  --font-size-s: 16px;
  --font-line-s: 24px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
  --font-size-m: 20px;
  --font-line-m: 28px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-size-36: 36px;
  --font-line-36: 44px;
  --font-36: var(--font-size-36) / var(--font-line-36) var(--font-family-main);
  --font-size-100: 100px;
  --font-line-100: 110px;
  --font-100: var(--font-size-100) / var(--font-line-100) var(--font-family-main);
   --font-size-error:12px;
  --font-line-error: 18px;
  --font-error: var(--font-size-error) / var(--font-line-error) var(--font-family-main);

  // Размеры

  --switcher-min-width: 75px;
  --switcher-min-height: 25px;
  --switcher-toggle-radius: 21px;
  --border-radius-standart: 25px;
  --border-radius-min: 8px;
  --login-form-height: 17rem;
  --img-padding:8px;
  --favorite-icon-size:40px;
  --header-min-height:42px;

  // Цвета

  --violet-100: #722746;
  --violet-200: #e67be0;
  --white-transp-100: #fff;
  --yellow-100: #f8d047;
  --orange1-color: #fa541c;
  --orange2-color: #f67f17;
  --gray1-color: #8b8b8b;
  --gray2-color: #ccc;
  --error-color: #f5222d;
  --green-color:rgb(64, 179, 64);
    // z-index

  --modal-z-index: 101;
}
