@import "./reset";
@import "./global";
@import "./themes/dark";
@import "./themes/light";

.App {
  font: var(--font-s);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}