.toggle {
  position: relative;
  width: var(--switcher-min-width);
  display: inline-block;
  height: var(--switcher-min-height);
}
.toggle input[type='checkbox'] {
  display: none;
}
.toggle .switch {
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius-standart);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.toggle .switch::before {
  position: absolute;
  content: '';
  left: 2px;
  top: 2px;
  width: var(--switcher-toggle-radius);
  height: var(--switcher-toggle-radius);
  background-color: var( --white-transp-100);
  border-radius: 50%;
  transition: all 0.3s ease;
}
.toggle input[type='checkbox']:checked + .switch::before {
  inset-inline-start: calc(100% - var(--switcher-toggle-radius) - 1px);
  background-color: var( --white-transp-100);
}
.toggle input[type='checkbox']:checked + .switch {
  background-color: transparent;
}
.switch {
  min-width: var(--switcher-min-width);
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var( --secondary-color);
  font:var(--font-s);
}

.checked.withText {
  padding-left: 5px;
  padding-right: calc(var(--switcher-toggle-radius) + 1px);;
}
.text {
  position: absolute;
  left: 12px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.hidden {
  visibility: hidden;
}
