.page-wrapper {
  max-width: 1440px;
  min-height: 90vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 760px) {
    main {
      padding-top: var(--header-min-height);
    }
  }
}
